# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System
.DS_Store
Thumbs.db

allure-results/
allure-report/
__pycache__/
.pytest_cache/
venv/